h1, p {
  margin: 0;
}

.hero {
  width: calc(80% + 100px);
  margin: 0 auto;
  display: flex;
  padding-block: 30px;
  gap: 50px;

  .hero__title {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    h1 {
      font-size: 70px;
      color: #E0664C;
    }

    p {
      font-size: 30px;
      line-height: 1.5;
    }
  }

  .hero__image {
    width: 50%;
  }
}